.home {
  background-color: rgb(248, 245, 240);
  .row-category-1 {
    padding-top: 30px;
    .category-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      border-radius: 16px;
      background-color: rgb(255, 253, 249);
      .btn-item {
        height: 90px;
        border: 0;
        background-color: rgb(255, 253, 249);
      }
      .item {
        img {
          display: block;
          margin: auto;
        }
        p {
          text-align: center;
        }
      }
    }
  }
  .row-category-2 {
    padding-top: 3px;
    .category-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      border-radius: 16px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      background-color: rgb(255, 253, 249);
      .btn-item {
        height: 90px;
        border: 0;
        background-color: rgb(255, 253, 249);
      }
      .item {
        img {
          display: block;
          margin: auto;
        }
        p {
          text-align: center;
        }
      }
    }
  }
  .hot-product {
    .row-category-3 {
      .category-item {
        display: flex;
        justify-content: center;
        border-radius: 16px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        background-color: rgb(255, 253, 249);
        height: 350px;
      }
    }
  }
  .small-item {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    background-color: crimson;
  }
  .banner {
    padding-top: 25px;
  }
}
//antd-css
.ant-carousel {
  line-height: 300px !important;
}
