$primary-color: #fb4390;
$secondary-color: #0054a6;
$controller-color: #687787;
$primary-light-color: #ffffff;
$primary-dark-color: #000000;
$menu-font-color: #687787;
$color-404-error: #a8d2f0;
$menu-item-selected: rgba(251, 67, 144, 0.1);
$menu-item-selected-font: rgba(251, 67, 144, 1);
$primary-background-color: #f4f6f8;
$secondary-background-color: rgba(161, 161, 161, 0.1);
